* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


#container {
  border: 1px solid red;
  margin: 25px auto;
  width: 405px;
  height: 405px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box {
  border: 0.5px solid black;
}

 